<!-- Render the Ask rows, Sell column, right-aligned fill -->
{% for i in range(10) %}
<tr class="sell-row">
    <td></td>
    <td class="price">{{ asks[i].price }}</td>
    <td class="sell">
        <div style="position: relative; width: 100%; height: 100%; background-color: #f2e0e0;">
            <!-- Right-aligned fill for the Sell column -->
            <div style="position: absolute; right: 0; background-color: #f28b82; width: {{ asks[i].quantity / max_ask_quantity * 100 }}%; height: 100%;"></div>
            <span style="position: relative; z-index: 1;">{{ asks[i].quantity }}</span>
        </div>
    </td>
</tr>
{% endfor %}

<!-- Render the Current Price row -->
<tr class="current-price">
    <td></td>
    <td class="price">{{ current_price }}</td>
    <td></td>
</tr>

<!-- Render the Bid rows, Buy column, left-aligned fill -->
{% for i in range(10) %}
<tr class="buy-row">
    <td class="buy">
        <div style="position: relative; width: 100%; height: 100%; background-color: #e0f2e0;">
            <!-- Left-aligned fill for the Buy column -->
            <div style="position: absolute; left: 0; background-color: #81c995; width: {{ bids[i].quantity / max_bid_quantity * 100 }}%; height: 100%;"></div>
            <span style="position: relative; z-index: 1;">{{ bids[i].quantity }}</span>
        </div>
    </td>
    <td class="price">{{ bids[i].price }}</td>
    <td></td>
</tr>
{% endfor %}
